@model Department
@{
    ViewData["Title"] = "Details";
}

<div>
    <h1>Department Details</h1>
    <div class="form-group">
        <label class=col-form-label asp-for="Code">Code</label>
        <input readonly class="form-control" asp-for="Code"/>
        <span asp-validation-for="Code" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class=col-form-label asp-for="Name">Name</label>
        <input readonly class="form-control" asp-for="Name"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class=col-form-label asp-for="DateOfCreation">Date of Creation</label>
        <input readonly class="form-control" asp-for="DateOfCreation"/>
        <span asp-validation-for="DateOfCreation" class="text-danger"></span>
    </div>

    <br />
    <br />

    <a asp-action="Edit" class="btn btn-secondary">Edit</a>
    <a asp-action="Index" class="btn btn-success">Back To List</a>
</div>